@import '_vairables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

main {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $white;
    background-color: $black;
    padding: 0 0 6rem 0;
    margin: 0 5rem;
    justify-content: center;
    display: flex;
    justify-content: center;

    .content {
        width: 100%;
        max-width: 1800px;

        #load_more_container {
            display: flex;
            justify-content: center;
        }

        #load_more {
            margin-right: 2rem;
            width: 10rem;
            border: solid #F65261;
            border-width: thin;
            background: none;
            cursor: pointer;
            transition: 0.2s;
            border-radius: 0.2rem;
            padding: 16px;
            color: white;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 400;
            margin: auto;

            &:hover {
                background-color: #F65261;
            }
        }
    }

    p {
        margin: 1.5rem 0;
        span {
            font-weight: 700;
        }
    }

    h2 {
        font-weight: 200;
        font-size: 2rem;
        text-align: center;
    }

    .navBarWrapper {

        border-bottom: solid $grey;
        border-width: 3.5px;
        box-shadow: 0px 1px black;
        height: fit-content;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 0.9rem;
    
            select {
                display: block;
                font-size: 0.9rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                color: $white;
                margin: 0;
                padding-right: 2rem;
                border: none;
                box-shadow: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-color:rgba(0,0,0,0);
                background-image: url('../Images/sort-arrow.png');
                background-repeat: no-repeat;
                background-position: right 0.5rem top 0rem, 0 0;
                background-size: 0.9rem auto;
            }

            option {
                color: black;
                background-color: #5454540a;
            }
    
            select:focus {
                outline: none;
            }
    
            li:hover {
                border-color: $pink;
                cursor: pointer;
            }
    
            li[name='sort'], li[name='select'] {
                border-color: $grey;
                border-bottom: none;
                float: right;
                cursor: default;
            }
    
            li {
                border-bottom: solid $grey;
                border-width: 3.5px;
                padding: 1rem;
                margin: 0 1rem;
                display: inline-block;
                margin-bottom: -3.5px;
            }

            .active {
                border-bottom: solid $pink;
                border-width: 3.5px;
            }
    
            li[name='all'] {
                margin-left: 0;
            }
    
            li[name='sort'] {
                color:  #9b9b9b;
            }
    
            li[name='select'] {
                margin-right: 0;
            }
        }
    
    }
    
    img {
        height: 26rem;
        max-width: 280px
    }

    .filmList {
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, 18.5rem);

        h2 {
            margin: auto;
        }
    }

    .filmCard {
        width: min-content;
        cursor: pointer;
        margin: 0 auto;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .filmInfo {
        color: #cecece;
        button {
            color: #cecece;
            background-color: rgb(0,10,0,0);
            border: solid $grey;
            border-width: 0.13rem;
            border-radius: 0.3rem;
            padding: 0.1rem 0.8rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.7rem;
            white-space: nowrap;
            height: fit-content;
            margin: auto 0;
        }

        button:focus {
            outline: none;
        }

        h4 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
            font-weight: 400;
        }

        p {
            margin-bottom: 2rem;
            margin-top: 0;
            font-size: 0.8rem;
            font-weight:lighter;
        }
    }

    .edit-button {
        width: 2rem;
        height: 2rem;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('../Images/edit-dots.png');
        background-color: rgb(35, 35, 35, 0.9);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 1.3rem;
        position: absolute;
        margin: 1rem;
        color: $white;
        cursor: pointer;
    }

    .edit-menue {
        position: absolute;
        background-color: $black;
        margin: 1rem;
        width: 10rem;
        padding-bottom: 0.3rem;
        border-radius: 0.3rem;
        cursor: auto;
        img {
            height: 1rem;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            button {
                font-family: 'Montserrat', sans-serif;
                padding: 0.3rem 0;
                margin: 0.2rem 0;
                width: 100%;
                color: $white;
                font-size: 0.8rem;
                font-weight: 500;
                cursor: pointer;
            }
            list-style-type: none;

            button:hover{
                background-color: $pink;
            }
        }
        button {
            margin: 0.3rem 0 0 0.3rem;
            float:left;
            padding: 0;
            background: none;
            border: none;
        }
    }

}