@import '_vairables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

main {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $white;
    background-color: $darkGrey;
    padding: 0rem 5rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0.9rem;

        li {
            float: left;
        }

        li:hover {
            border-color: $pink;
        }

        li[name='sort'], li[name='select'] {
            border-color: $grey
        }

        li[name='sort'], li[name='select'] {
            float: right;
        }

        li {
            border-bottom: solid $grey;
            border-width: 0.2rem;
            padding: 1rem 0rem;
            margin: 0 1rem;
        }

        li[name='all'] {
            margin-left: 0;
        }

        li[name='sort'] {
            color:  #9b9b9b;
        }

        li[name='select'] {
            margin-right: 0;
        }
    }

    img {
        height: 26rem
    }

    .filmList {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filmCard {
        flex: 0 1 24%;
    }

    .navBarWrapper {
        border-bottom: solid $grey;
        border-width: 0.2rem;
        height: 3.1rem
    }

    .filmInfo {
        position: relative;
        color: #cecece;
        button {
            position: absolute;
            color: #cecece;
            top: 0px;
            right: 0px;
            background-color: rgb(0,10,0,0);
            border: solid $grey
        }
        p {
            margin-bottom: 3rem;
        }
    }
}