@import 'vairables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: $pink;
    text-align: center;
    padding: 1rem 0;
    background-color: $grey;

    p {
        margin: 0;
    }

    b {
        font-weight: 800;
    }
}