@import 'vairables';

#modal-container {

    position: absolute;
    z-index: 1;
    top: 0;
    background-color: rgb(35, 35, 35, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: min-content;
    min-height: 100vh;
    min-height: 100vh;
    overflow: scroll;

    p {
        color: $pink;
        font-size: 1.2rem;
        margin-left: 80px;
        margin-top: 27.2px;
    }
    b {
        font-weight: 800;
    }

    .modal {

        width: min-content;
        margin: 6rem auto 10rem auto;
        padding: 1rem;

        -webkit-box-shadow: 0px 0px 43px 22px rgba(0,0,0,0.2); 
        box-shadow: 0px 0px 43px 22px rgba(0,0,0,0.2);
        background-color: $black;

        font-family: 'Montserrat', sans-serif;
        color: $pink;

        form {
            margin: 2rem 3rem 7rem 3rem;

            div {

                width: 100%;
                position: relative;

                ul {
                    background-color: rgb(39, 39, 39);
                    position: absolute;
                    margin-top: 5rem;
                    list-style: none;
                    padding: 1rem;
                    width: 480px;

                    li {
                        color: white;
                        margin: 0.5rem 0;
                        cursor: pointer;
                        
                        img {
                            margin-right: 1rem;
                            width: 0.6rem;
                            height: 0.6rem;
                            background-color: white;
                            padding: 0.12rem;
                            border-radius: 0.2rem;
                        }
                    }
                }

                button {
                    font-size: 1rem;
                    background-color:rgb(66, 66, 66, 0.2);
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>");
                    background-repeat: no-repeat;
                    background-position: right 1.4rem top 1.4rem, 0 0;
                    background-size: 1rem auto;
                    font-family: 'Montserrat', sans-serif;
                    padding: 1rem;
                    border: none;
                    text-align: left;
                    border-radius: 0.2rem;
                    color: rgb(255, 255, 255, 0.3);
                    width: 100%;
                    margin: 1rem 0rem;
                    cursor: pointer;
                }
            }
        }

        h1 {
            color: $white;
            font-weight: 200;
            font-size: 2rem;
            margin: 2rem 3rem;
        }

        //this style if for congrats modal -------------
        p {
            font-size: 1rem;
            color: $white;
            margin: 1rem 5rem;
            text-align: center;
            margin-bottom: 32px;
        }
        //--------------------------------------------------

        button {
            float: right;
            border: none;
            margin: 0;
            padding: 0;
            background: none;
            cursor: pointer;
        }

        img {
            height: 2rem
        }

        label {
            font-size: 0.9rem;
        }

        select {
            display: block;
            font-size: .95rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.38);
            padding: 1rem;
            border: none;
            border-radius: 0.2rem;
            box-shadow: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color:rgba(66, 66, 66, 0.2);
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>");
            background-repeat: no-repeat;
            background-position: right 1.4rem top 1.4rem, 0 0;
            background-size: 1rem auto;
            margin: 1rem 0;
            width: 32rem;
        }

        input {
            font-size: 1rem;
            background-color:rgb(66, 66, 66, 0.2);
            font-family: 'Montserrat', sans-serif;
            flex-grow: 1;
            padding: 1rem;
            border: none;
            border-radius: 0.2rem;
            color: $white;
            width: 30rem;
            margin: 1rem 0rem;
        }

        input[type='submit'] {
            float: right;
            background-color: $pink;
            border: solid $pink;
            border-width: thin;
            width: 10rem;
            cursor: pointer;
        }

        input[type='button'] {
            float: right;
            margin-right: 2rem;
            width: 10rem;
            border: solid $pink;
            border-width: thin;
            background: none;
            cursor: pointer;
        }

    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        p {
            margin: 0;
        }
    }
}

#modal-container::-webkit-scrollbar {
    display: none;
  }
