@import 'vairables';

body {
    margin: 0;
}

#root {
    position: relative;
    min-height: 100vh;
    background-color: $black;
}

button:focus {
    border: none;
}

@import 'header';
@import 'body';
@import 'footer';
@import 'modal';